body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.6;
  color: #24292e;
  background-color: #fff;
}
.head1 {
  font: 1em sans-serif;
}
.text-small {
  font-size: .8125em;
  line-height: 1.7;
}